.main-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;    
    max-width: 80%;
    margin-left: 85px;
    position: fixed;
}
.main-image {
    max-width: 80%;
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    padding: 0;
    float: right;
    margin-left: 70px;
    margin-bottom: 20px;
    object-fit: contain;
    position: relative;
}
h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    align-self: center;
    margin: 0 auto;
    margin-top: 50px;
    padding-right: 50px;
    font-size: 8vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    white-space: nowrap;
    max-width: 100%;
    justify-self: center;
}
h3 {
    font-size: 4vw;
    align-self: center;
    color: red;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0;
    z-index: 1;
    margin-right: 120px;
    justify-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#background {
    background-color: rgb(191, 191, 191);
    grid-column: 2/3;
    grid-row: 1/3;
    max-height: 100%;
    margin-bottom: 20px;
    margin-right: 80px;
}
